AD_lockout/
Archive_PS_scripts/
CitrixOptimizer/
creds/
DiskMon/
inventory/
officedeploymenttool/
PortQryUI/
SysinternalsSuite/
TCPView/
temp/
VM/
Windows Resource Kits/
PS_JSON_CONFIG/
wsusdiag
*.exe
*.log
*.tmp
my.key